body {
    background: #020617;
    color: #ffffff;
    font-family: Inter, sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #10b981;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background: #0f172a;
}